
file-system {
  content-root-path = "/put/a/path/here"
}

context {
  channels = []
  playlists = []
}

youtube-api {
  api-key = "YOUR_API_KEY"
}

test {
  dummy-user {
    channel-id = "Some dummy channel id used only for testing purposes"
    playlists = ["The playlists of the above channel"]
  }
}

